name: main

on:
  push:
    branches: [main, test-me-*]
    tags: '*'
  pull_request:

jobs:
  main-windows:
    uses: asottile/workflows/.github/workflows/tox.yml@v1.6.0
    with:
      env: '["py38"]'
      os: windows-latest
  main-linux:
    uses: asottile/workflows/.github/workflows/tox.yml@v1.6.0
    with:
      env: '["py38", "py39", "py310", "py311"]'
      os: ubuntu-latest
